<div class="container-box">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Pokemon Cards</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    (keyup)="search($event)" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone:true}" id="search"
                    placeholder="Search Pokemon Cards">
            </form>
        </div>
    </nav>

</div>