.container-section {
  padding-top: 6rem;
  margin-left: 5%;
}
.card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
}

.card img {
  width: 100%;
}
.card-image {
  width: 200px;
  height: 200px;
  background-color: bisque;
}
.card::-webkit-scrollbar {
  display: none;
}

.card-container {
  width: 200px;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: bisque;
}

.title-name {
  font-size: 1.5rem;
  margin-top: 2px;
  padding-bottom: 15px;
  color: #767373;
}
