/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  background: #fbf8f8;
  box-sizing: border-box;
}

.container {
  margin-left: 10%;
  margin-right: 5%;
}
